#login{
    .content{
        .logo{
            width: 160px;
            margin: 20px auto;
        }
        .input-wrap{
            margin: 0 10px;
            padding: 5px 10px;
            border-bottom: 1px solid #aaa;
            line-height: 30px;
            font-size: 14px;
            display: flex;
            color: #999;
            input{
                flex: 1;
                outline: none;
                font-size: 18px;
                width: 100px;
            }
            span{
                border: 1px solid #ccc;
                padding: 0 5px;
                border-radius: 5px;
                color: #555;
            }
        }
        .login-btn{
            margin: 10px;
            background: #b4282d;
            line-height: 40px;
            color: #fff;
            text-align: center;
            border-radius: 5px;
        }
        .other-login-ways{
            margin-top: 40px;
            .title{
                color: #999;
                font-size: 12px;
                text-align: center;
                line-height: 40px;
            }
            .login-ways{
                width: 240px;
                margin: 0 auto;
                display: flex;
                .login-item{
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    img{
                        width: 22px;
                        height: 22px;
                    }
                    span{
                        padding: 0 5px;
                        color: #7F7F7F;
                        font-size: 14px;
                        line-height: 22px;
                    }
                    border-right: 1px solid #7F7F7F;
                    &:last-of-type{
                        border-right: none;
                    }
                }
            }
        }
        
    }
}