.mine-banner{
    margin-top: 48px;
    width: 100%; height: 30%;
    background-color: #ddd;
    a {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        text-align: center;
        &:first-child {
            display: block;
            width: 100%;
            height: 50%;
            padding-top: 10%;
        }
        span {
            width: 100%;
            float: left;
        }
    }
}

.mine-nav{
    padding: 6px 30px;
    .mine-items{
        padding: 16px 10px;
        border-bottom: 1px solid #eee;
        .to-right{
            float: right;
            font-size: 20px;
            font-weight: 900;
            color: #666;
        }
    }
}